@use 'sass:math';
@use './variables' as *;


h2 {
	font-size: $h2;
}
h5 {
	font-size: $h5;
}

$utilities: (
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $spacer * .25,
      "2": $spacer * .5,
      "3": $spacer,
      "4": $spacer * 1.5,
      "5": $spacer * 3
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $spacer,
      "2": $spacer * 2,
      "3": $spacer * 4,
      "4": $spacer * 6,
      "5": $spacer * 8
    ),
  ),

  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border-radius": (
    "prefix": "br",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "lg": $base-border-radius * 2,
      "full": 50%,
    )
  ),
  "display": (
    "prefix": "d",
    "values": (
      "none": none,
      "block": block,
      "flex": flex,
      "inline": inline,
      "inline-block": inline-block
    )
  ),
  "font-size": (
    "prefix": "text",
    "values": (
      "xs": $text-xs,
      "sm": $text-sm,
      "md": $base-font-size,
      "lg": $text-lg
    )
  )
);

// generate utility classes
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if($k == "default") {
      .#{$prefix} {
        #{$property}: $v;
      }
    } @else {
      .#{$prefix}-#{$k}{
        #{$property}: $v;
      }
    }
  }
}